name: Sync to Hugging Face hub
on:
  push:
    branches: [master]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Install Hugging Face Hub
        run: pip install huggingface_hub

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          python3 -c "
          from huggingface_hub import HfApi
          import os
          api = HfApi()
          api.upload_folder(
              folder_path='.',
              repo_id='anubhavagar/thewondersofthejungle',
              repo_type='space',
              token=os.environ['HF_TOKEN'],
              commit_message='Sync from GitHub'
          )"
